body {
  
  background-color: #f2f2f2; /* Gris claro */
}
  .container-fluid{
display: flex;
justify-content: center;
}





.bg-white {
    background-color: #ffffff;
}

#descripcion {
    resize: none;
}

.centrado {
    text-align: center;
    vertical-align: middle;
}
